@import "../assets/colors.scss";
@import "../assets/mixins.scss";

.header {
  height: 235px;
  width: 100%;

  display: flex;
  flex-direction: column;

  &__top {
    background-color: $darkBlue;

    > div {
      @include flex(center, null, column);

      @include breakpoint-up("large") {
        @include flex(null, space-between, row-reverse);
      }

      > nav {
        > ul {
          margin: 0;
          padding: 7px 0;

          @include flex(null, center, null, wrap);

          > li {
            @include padding(7px, 0, 7px, 0);

            &:not(:last-child) {
              > a {
                padding: 0 13px;
                border-right: 1px $grayBorder solid;
              }
            }

            > a {
              color: white;
              opacity: 0.8;
              font-size: 14px;
            }
          }

          @include breakpoint-up("large") {
            padding: 0;
          }
        }
      }

      > ul {
        @include flex();

        > li {
          padding: 13px;

          > button {
            background: transparent;
            font-size: 14px;
            color: white;
            opacity: 0.8;

            > i {
              margin-left: 2px;
            }
          }

          @include breakpoint-up("large") {
            padding: 7px 13px;
          }
        }
      }
    }
  }

  &__bottom {
    flex: 1;
    background-color: $main;

    &__logo {
      > img {
        width: 175px;
      }
    }

    > div {
      @include flex(center, center, column);
      padding-top: 13px;
      padding-bottom: 13px;

      @include breakpoint-up("large") {
        flex-direction: row;
      }
    }

    &__search {
      padding: 16px 0;
      width: 100%;

      @include breakpoint-up("large") {
        padding-left: 20px;
      }

      &--container {
        height: 46px;
        background: white;
        border-radius: 50px;
        overflow: hidden;

        @include flex(center);

        > input {
          flex: 1;
          height: 100%;
          outline: none;
          padding-left: 16px;
          padding-right: 8px;
        }

        > button {
          height: 38px;
          width: 38px;
          background-color: $yellow;
          border-radius: 50%;
          margin-right: 4px;

          @include flex(center, center);
        }
      }
    }

    &__navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 8px;

      @include breakpoint-up("large") {
        padding-top: 0;
      }

      &__nav {
        display: none;

        > ul {
          display: flex;

          > li {
            padding: 12px 16px;

            > a {
              color: white;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }

        @include breakpoint-up("large") {
          display: block;
        }

        &--mobile {
          display: block;

          > ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            > li {
              text-align: center;
            }
          }
        }
      }

      &__hamburger {
        background: none;
        border: 0;
        color: white;
        font-size: 24px;

        @include breakpoint-up("large") {
          display: none;
        }
      }

      &__cart {
        height: 48px;
        background-color: $yellow;
        border-radius: 999px;
        padding: 0 24px;
        border-top: 2px solid black;
        gap: 8px;
        width: max-content;

        @include flex(center, space-between);

        > span {
          border-radius: 50%;
          background-color: $red;
          height: 20px;
          width: 20px;
          color: white;
          font-size: 11px;

          @include flex(center, center);
        }
      }
    }
  }
}
