.header {
  height: 235px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header__top {
    background-color: #0f6cb2; }
    .header__top > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 992px) {
        .header__top > div {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between; } }
      .header__top > div > nav > ul {
        margin: 0;
        padding: 7px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .header__top > div > nav > ul > li {
          padding: 7px 0 7px 0; }
          .header__top > div > nav > ul > li:not(:last-child) > a {
            padding: 0 13px;
            border-right: 1px rgba(255, 255, 255, 0.3) solid; }
          .header__top > div > nav > ul > li > a {
            color: white;
            opacity: 0.8;
            font-size: 14px; }
        @media (min-width: 992px) {
          .header__top > div > nav > ul {
            padding: 0; } }
      .header__top > div > ul {
        display: flex; }
        .header__top > div > ul > li {
          padding: 13px; }
          .header__top > div > ul > li > button {
            background: transparent;
            font-size: 14px;
            color: white;
            opacity: 0.8; }
            .header__top > div > ul > li > button > i {
              margin-left: 2px; }
          @media (min-width: 992px) {
            .header__top > div > ul > li {
              padding: 7px 13px; } }
  .header__bottom {
    flex: 1;
    background-color: #157ed2; }
    .header__bottom__logo > img {
      width: 175px; }
    .header__bottom > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 13px;
      padding-bottom: 13px; }
      @media (min-width: 992px) {
        .header__bottom > div {
          flex-direction: row; } }
    .header__bottom__search {
      padding: 16px 0;
      width: 100%; }
      @media (min-width: 992px) {
        .header__bottom__search {
          padding-left: 20px; } }
      .header__bottom__search--container {
        height: 46px;
        background: white;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        align-items: center; }
        .header__bottom__search--container > input {
          flex: 1;
          height: 100%;
          outline: none;
          padding-left: 16px;
          padding-right: 8px; }
        .header__bottom__search--container > button {
          height: 38px;
          width: 38px;
          background-color: #fdd922;
          border-radius: 50%;
          margin-right: 4px;
          display: flex;
          align-items: center;
          justify-content: center; }
    .header__bottom__navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 8px; }
      @media (min-width: 992px) {
        .header__bottom__navigation {
          padding-top: 0; } }
      .header__bottom__navigation__nav {
        display: none; }
        .header__bottom__navigation__nav > ul {
          display: flex; }
          .header__bottom__navigation__nav > ul > li {
            padding: 12px 16px; }
            .header__bottom__navigation__nav > ul > li > a {
              color: white;
              font-size: 16px;
              font-weight: 600; }
        @media (min-width: 992px) {
          .header__bottom__navigation__nav {
            display: block; } }
        .header__bottom__navigation__nav--mobile {
          display: block; }
          .header__bottom__navigation__nav--mobile > ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
            .header__bottom__navigation__nav--mobile > ul > li {
              text-align: center; }
      .header__bottom__navigation__hamburger {
        background: none;
        border: 0;
        color: white;
        font-size: 24px; }
        @media (min-width: 992px) {
          .header__bottom__navigation__hamburger {
            display: none; } }
      .header__bottom__navigation__cart {
        height: 48px;
        background-color: #fdd922;
        border-radius: 999px;
        padding: 0 24px;
        border-top: 2px solid black;
        gap: 8px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .header__bottom__navigation__cart > span {
          border-radius: 50%;
          background-color: #ee4054;
          height: 20px;
          width: 20px;
          color: white;
          font-size: 11px;
          display: flex;
          align-items: center;
          justify-content: center; }
